/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus{color:#295fa2;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#intro{background:#8d5f24 url("img/colors/intro-repeat.png") repeat-x; border-top:1px solid #000; border-bottom:1px solid #000}
#intro .inner{background:url("img/colors/pic2.jpg") no-repeat 0 20%;}
#intro .button{box-shadow:0 2px 2px #ffff00;}
