@import url(reset.css);
@import url(color.css);

html{background:#f3f3f3;}
body{color:#424242; font:normal 14px Arial,Tahoma,Verdana;}
p{line-height:1.55em; margin-bottom:12px;}
h1, h2, h3, h4{line-height:1.2em; margin-bottom:12px; font-weight:bold;}
h1{font-size:3.0em; color:#fff; font-weight:normal;}
h1 strong{font-weight:bold;}
h2{font-size:1.2em; color:#535353; margin-bottom:30px; border-bottom:1px solid #c5c5c5; padding-bottom:10px;}
h3, h4{font-size:1.4em; color:#424242; text-shadow:1px 1px 1px #fff; margin-bottom:10px;}
address{font-style:normal; padding-bottom:15px;}

/* LINKS */
a{outline:0;}
a:hover{color:#000; text-decoration:underline}


/* HEADER */
header{height:50px; line-height:50px; background:#1a1a1a; position:fixed; top:0; left:0; width: 100%; z-index:100; }
header a#logo{font-size:1.2em; font-weight:bold; display:block; position:absolute; top:0; left:40px; color:white;
    text-transform:uppercase; text-decoration:none; transition: color 0.3s ease-in-out;}
#logopic{opacity: 0; margin-left:220px; margin-top:-5px; transition: opacity 0.4s ease-in-out;}
header.sticky #logopic{opacity: 100; transition: opacity 1s ease-in-out;}
header a#logo:hover{text-decoration:none; color:#ece1a1; transition: color 0.3s ease-in-out;}
header #nav{position:absolute; top:0; right:0;}
header #nav > ul > li{float:left; background:url("img/nav-sep.png") no-repeat 0 50%; position:relative;}
header #nav > ul > li.parent > a{background:url("img/nav-more.png") no-repeat 20px 50%; padding-left:40px;}
header #nav > ul > li > ul{display:none; min-width:100%; position:absolute; top:50px; left:0; line-height:normal; white-space:nowrap;}
header #nav > ul > li > ul > li{background-color: #1a1a1a; margin-bottom:1px;}
header #nav > ul > li > ul > li > a{color:#d3d3d3; text-decoration:none; padding:10px 20px;display:block; background:url("img/subnav-bg.png"); text-align: center;}
header #nav > ul > li > ul > li > a:hover{background:#111; color:#ece1a1; text-decoration:none;}
header #nav > ul > li:first-child{background:none;}
header #nav > ul > li > a{color:#b2b2b2; display:block; height:50px; text-transform:uppercase;
    text-decoration:none; font-weight:bold; padding:0 20px;
    -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;}
header #nav > ul > li.active > a{color: white; cursor:pointer; text-decoration:none;}
header #nav > ul > li > a:hover{color:#ece1a1; text-decoration:none;}


#intro{border-bottom:1px solid #fff; position:relative; top:50px; z-index:90;}