<!DOCTYPE html>
<html lang="ru">
<head>
<title>Под мостом</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ static }}css/main.css">
<link rel="stylesheet" href="{{ static }}css/print.css" media="print">
<script src="{{ static }}js/jquery-1.6.4.min.js"></script>
<script src="{{ static }}js/custom.js"></script>
</head>


<body>
<header class="clearFix">
  <div class="wrap"> 
  	<a id="logo" href="#">Under the bridge</a>
    <hr>
    <nav>
      <div id="nav"> 
        <ul>
          <li> <a href="#">Поиск</a> </li>
          <li> <a href="#">Контакты</a> </li>
          {% if login %}
          <li> <a href="/self_adverts">Мои объявления</a> </li>
           <li> <a href="/?refresh=1">R</a> </li>
          <li> <a href="#">{{ first_name }} {{ last_name }}</a> </li>
		  <li> <a href="/?exit=1">Выйти</a> </li>
		  {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
<hr>

<div id="intro">
  <div class="inner">
    <div class="wrap clearFix">
      <h1>Найди себе соседа.</h1>
      <p>Ты студент? Живешь под мостом? Тратишь все свои деньги на оплату жилья? Не хочешь жить в общаге? <u>Найди себе соседа!</u> Совместный съем жилья вернет хорошее настроение и веру в светлое будующее.</p>
      {% if not login %}
      <a href="https://oauth.vk.com/authorize?client_id=4985824&redirect_uri=http://test.com/&scope=12&display=page" class="button">Войти через VK</a> 
      {% endif %}
      <div class="button" on cl>BITCH</div>
      </div>
  </div>
</div>

<!-- / #intro -->
<hr>
<div id="content">
  <div class="wrap clearFix">
    <h2>С Under The Bridge вы сможете</h3>
    <div class="clearFix">
      <div class="vList"> <img src="{{ static }}images/icon-location.png" alt="" class="icon">
        <h3>Совместный поиск жилья</h3>
        <p>Вы сможете найти студента, так же, как и вы, ищущего крышу под головой. Вдвоем искать веселее и эффективнее! Если здесь будет много текста, то будет смотертсья норм. Иначе я хз че делать. Ну казалось бы инструкцию маленькую надо бы написать. Короче хз.</p>
      </div>
      <div class="vList"> <img src="{{ static }}images/icon-backup.png" alt="" class="icon">
        <h3>Заселиться к кому-нибудь</h3>
        <p>Полно студентов готовы сдать комнату пососедству кому-то вроде тебя. Экономь время и нервы - подкати к кому-нибудь!Если здесь будет много текста, то будет смотертсья норм. Иначе я хз че делать. Ну казалось бы инструкцию маленькую надо бы написать. Короче хз.</p>
      </div>
      <div class="vList"> <img src="{{ static }}images/icon-twitter.png" alt="" class="icon">
        <h3>Найти жильца</h3>
        <p>Пустует комната? Работаешь по ночам в макдаке, чтоб оплатить аренду? Найди себе соседа! Вдвоем стоять за кассой веселее!Если здесь будет много текста, то будет смотертсья норм. Иначе я хз че делать. Ну казалось бы инструкцию маленькую надо бы написать. Короче хз.</p>
      </div>
    </div>
    <div class="buttonCentered"> <a href="#" class="button iconRight"> Как это работает? <i class="more"></i></a> </div>
    <h2>Почему именно Under the bridge?</h2>
    <ul class="cols simpleList clearFix">
      <li>
      <p><strong>Реальные люди.</strong> Благдаря привязке к вк количество фейковых объявлений минимально. Проверить адекватность вашего избранника просто как никогда: нужно только списаться в вк. Привычно. Удобно.</p>
      </li>
      <li class = "middle">
	<p><strong>Гибкий поиск.</strong> Вам не придется парсить тысячи объявлений школьников и 40 летних бомжей. Гибкий поиск выберет вам именно те варианты, которые вы хотите увидить. Попробуйте!</p>
      </li>
      <li>
	<p><strong>Свое объявление</strong> Пожалуй самая адекватная система создания своих объявлений. Все, что нужно, это заполнить недостоющую информацию из вк и вас уже могут найти. Удаление объявления потребует от вас ровно два клика. </p>
      </li>
      <li class = "middle">
	<p><strong>Коммерческие объявления.</strong> Если вы уже нашли себе соседа, но по прежднему живете под мостом - посмотрите коммерческие объявления! У вас пустует квартира? Оставьте коммерческое объявление! В любой непонятно ситуации ищи помощи в коммерческих объявлениях!</p>
      </li>
    </ul>
  </div>
</div>
<!-- / #content -->
<hr class="noPrint">
<div id="twitter">
  <div class="wrap clearFix"> <span class="icon"></span>
    <p>Расскажите о нас в социальный сетях: <a href="#">share!</a></p>
  </div>
</div>
<hr>
<footer class="clearFix">
  <div class="wrap clearFix">
    <p class="floatRight"> Copyright &copy; 2015 <a href="#">твоя мамка</a> &ndash; All Rights Reserved<br>
      Template by <a target="_blank" href="http://www.templatestar.net">Templatestar</a> &amp; <a target="_blank" href="http://www.os-templates.com/">OS Templates</a></p>
    <p class="socialIcons"> <a href="#" class="rss">RSS</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="twitter">Twitter</a> </p>
  </div>
</footer>
</body>
</html>



