<!DOCTYPE html>
<html lang="ru">
<head>
<title>Под мостом</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ static }}css/main.css">
<link rel="stylesheet" href="{{ static }}css/print.css" media="print">
<script src="{{ static }}js/jquery-1.6.4.min.js"></script>
<script src="{{ static }}js/custom.js"></script>
<script src="{{ static }}js/slider.js"></script>
<script src="{{ static }}js/scroller.js"></script>
</head>


<body>
<header class="clearFix">
  <div class="wrap"> 
  	<a id="logo" href="#">Under the bridge</a>
    <hr>
    <nav>
      <div id="nav"> 
        <ul>
          <li class="active"> <a href="/">Главная</a> </li>
          <li> <a href="#">Поиск</a> </li>
          <li> <a href="#">Контакты</a> </li>
          {% if login %}
           <li> <a href="/self_adverts/?refresh=1">R</a> </li>
          <li> <a href="#">{{ first_name }} {{ last_name }}</a> </li>
		      <li> <a href="/?exit=1">Выйти</a> </li>
		      {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
<hr>
<!-- / #content -->
<div id="content" >
  <div class="wrap clearFix" id="have_adverts">
    <div class="clearFix" style="text-align: center;">
          <div class="col">
           <img src="" alt="" class="round_img" id="slider">
           </div>
    </div>
    <div class="clearFix" >
          <h3> Date </h3>
          <!-- <img class="icon" src="{{static}}images/edit.png" style="width:20px;height:20px;"> -->
          <p id="text_date" style="border: 3px solid red;border-color:#008a77;border-width: medium;padding:7px"></p>
          <h3> Adress </h3>
          <p id="text_adress"></p>
          <h3> Discription </h3>
          <p id="text_content"></p>
    </div>
  </div>
  <div class "wrap clearFix" id="not_have_adverts" style="text-align: center;">
      <h3> You havent create adverts yet . Do you want create one ? </h3>
  </div>
</div>
<!-- footer -->
<footer class="clearFix">
  <div class="wrap clearFix">
    <p class="floatRight"> Copyright &copy; 2015 <a href="#">твоя мамка</a> &ndash; All Rights Reserved<br>
      Template by <a target="_blank" href="http://www.templatestar.net">Templatestar</a> &amp; <a target="_blank" href="http://www.os-templates.com/">OS Templates</a></p>
    <p class="socialIcons"> <a href="#" class="rss">RSS</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="twitter">Twitter</a> </p>
  </div>
</footer>

<!--slider-->
<div id='overlay_wrap'>
  <div id='overlay'></div>
  <img src='{{ static }}images/test.jpg' class='slider_ov' id='slider_cen'>
  <img src='{{ static }}images/left_arrow.png' class='slider_ov' id='slider_l'>
  <img src='{{ static }}images/right_arrow.png' class='slider_ov' id='slider_r'>
</div>
</body>
</html>



